.home-text {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 65px;
    background: #000;
    width: 100%;
    padding: 60px;

    @media screen and (max-width: 1280px) {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    @media screen and (max-width: 420px) {
        padding: 30px;
        gap: 10px;
    }

    .hm-image {
        img {
            width: 750px;
            height: 800px;
            object-fit: cover;
            border-radius: 8px;
        }

        @media screen and (max-width: 1280px) {
            img {
                width: 600px;
                height: 400px;
            }
        }

        @media screen and (max-width: 540px) {
            img {
                width: 450px;
                height: 300px;
            }
        }

        @media screen and (max-width: 420px) {
            img {
                margin-top: 10px;
                width: 350px;
                height: 250px;
            }
        }

        @media screen and (max-width: 300px) {
            img {
                margin-top: 10px;
                width: 250px;
                height: 250px;
            }
        }
    }

    .hm-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: justify;

        @media screen and (max-width: 420px) {
            text-align: center;
        }

        .text1 {
            font-size: 2rem;
            font-weight: 600;
            color: #f8982c;
        }

        .text2, .text3 {
            font-size: 1.5rem;
            font-weight: 300;
            color: #fffcf0;
            letter-spacing: 0.3px;
        }

        .text3 {
            font-size: 1.3rem;
        }
    }
};