.how-we {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
    width: 100%;

    @media screen and (max-width: 900px) {
        padding: 50px;
    }

    @media screen and (max-width: 420px) {
        padding: 30px;
    }

    .how-we-title {
        font-size: 3rem;
        font-weight: 500;
        color: #f8982c;
        text-align: center;
        align-self: center;
    }

    .how-we-text {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fffcf0;
        text-align: center;
        max-width: 1350px;
        width: 100%;
        align-self: center;

        @media screen and (max-width: 420px) {
            text-align: justify;
        }
    }

    .how-we-container {
        .how {
            width: 100%;
            border-bottom: 1px solid #f8982c;
            margin-bottom: 20px;

            .how-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                cursor: pointer;

                .how-title {
                    font-weight: 500;
                    color: #f8982c;
                    letter-spacing: 0.8px;
                    cursor: pointer;
                }

                .how-btn {
                    border: none;
                    background: none;
                    color: #f8982c;
                    font-weight: 800;
                    cursor: pointer;
                }
            }

            .how-body{
                padding: 20px;

                .how-text{
                    color: #fffcf0;
                    font-size: 1.2rem;
                    
                    @media screen and (max-width: 420px) {
                        text-align: center;
                    }
                }
            }
        }
    }
};