.layout {
    display: flex;
    flex-direction: column;

    section {
        padding: 0 40px;

        @media screen and (max-width: 420px) {
            padding: 0 20px;
        }
    }

    .navbar {
        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    .mobile-nav {
        @media screen and (min-width: 850px) {
            display: none;
        }
    }
};